body, html {
    margin: 0;
    background-color: #111111;
    color: #bbb;
}

/* Line number columns */
.linenos {
    color: #555;
    background-color: #000;
}

/* Comment */
.c, .c1, .c2 {
    color: #9c998e;
    font-style: italic;
}

/* def <name>, class <name>, <name>() */
.kc, .nb, .kt {
    color: #eaddad
}

/* imports and stuff */
.k, .kd, .kn, .mi {
    color: #88b8f6;
}

/* Strings */
.s, .sd {
    color: #95e454
}
