@import url(http://fonts.googleapis.com/css?family=Oxygen);

* {
    margin: 0em;
    padding: 0em;
}

html, body {
    height: 100%;
}

a {
    font-style: none;
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.header {
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: fixed;
    top:0;
    width: 100%;
    font-family: "Oxygen", "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #4f4f4f;
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    z-index: 999999;
}

.title {
    text-align: left;
    font-size: 16pt;
}

.controls {
    font-size: 12pt;
    float: right;
    margin-right: 2%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.0063em;
    text-overflow: '';
}

#id_language {
    font-family: "Oxygen", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 0.938em;
    border-radius: 0.125em;
    border: 0.064em solid #D9D9D9;

}

button {
    background-color: transparent;
    color: #bfbfbf;
    border: 0.064em solid #bfbfbf;
    width: 3.75em;
    height: 1.72em;
    line-height: 1.56px;
    font-size: 0.813em;
    outline: none;
    border-radius: 0.125em;
}

button:hover {
    color: #dfdfdf;
    border: 0.064em solid #dfdfdf;
}

form, .content, textarea {
    height: 100%;
}

textarea {
    resize: both;
    overflow: auto;
}

.view-paste {
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.content {
    margin-top: 3.125em;
    padding: 0.625em;
    padding-left: 1em;
    color: #000;
}

#id_content {
    font-size: 1em;
    width: 100%;
    border: none;
    outline: none;
}

/* These are to create tool tips
 * Adapted from: http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
 */
.tooltip {
    display: inline;
    position: relative;
    padding-left: 0.625em;
}

.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 0em 0.375em 0.375em 0.375em;
    top: 1.25em;
    content: "";
    right: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 0.313em;
    top: 1.625em;
    color: #fff;
    content: attr(title);
    right: 20%;
    padding: 0.131em 0.938em;
    position: absolute;
    z-index: 98;
    max-width: 31.25em;
    white-space:nowrap;
}

/*
    Error page
*/

.error {
    font-family: "Oxygen", "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
}

.error-number {
    font-size: 15em;
}

.error-message {
    font-style: italic;
    font-size: 1.7em;
}