{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        {%  if paste %}
            <title> Pamrel - {{ paste.pid }} </title>
        {% else %}
            <title> Pamrel </title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/oxygen-font.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/pamrel.js' %}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <form method="POST" action="{% url 'new' %}">
            {% csrf_token %}
            <div class="header">
                <a href="{% url 'new' %}" class="title">Pamrel</a>
                <span class="controls">{% block controls %}{% endblock %}</span>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </form>
    </body>
</html>
