<!DOCTYPE html>
<html>
    <head>
        <title> Paste - {{ paste.pid }} </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
        {% if theme_path %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/{{ theme_path }}">
        {% endif %}
        
        {% if paste.numbers %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/lines.css">
        {% endif %}
    </head>
    <body>
        <div class="code">
            {% if highlighted %}
                {{ paste.content|safe }}
            {% else %}
                <pre>{{ paste.content }}</pre>
            {% endif %}
        </div>
    </body>
</html>
