{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    {% if theme_path %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/{{ theme_path }}">
    {% endif %}
{% endblock %}

{% block controls %}
    <span class="tooltip" title="Views: {{ paste.viewed }}"><i class="fa fa-eye"></i></span>
    {% if paste.modified == paste.created %}
        <span class="tooltip" title="Created: {{ paste.created|timesince }} ago"><i class="fa fa-calendar"></i></span>
    {% else %}
        <span class="tooltip" title="Modified: {{ paste.modified|timesince }} ago"><i class="fa fa-calendar"></i></span>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="view-paste">
        {% if object.syntax %}
            {{ content|safe }}
        {% else %}
            <pre>{{ content }}</pre>
        {% endif %}
    </div>
{% endblock %}
